mixin section(title)
    br
    br
    br
    div(class="section")=title
    br 
    br   

mixin subsection(title)
    br
    br
    div(class="subsection")=title
    br 

mixin emphasis(utterance, whitespace_after=true, whitespace_before=true)
    if whitespace_before == true
        |
    i=utterance
    if whitespace_after == true
        |
        |

mixin consolas(utterance, whitespace_after=true, whitespace_before=true)
    if whitespace_before == true
        | 
    span(class="consolas")=utterance
    if whitespace_after == true
        | 
        |
        

mixin navigation_button(text, onclick_function, style_display="display:block;", my_id="")    
    div(class="page_buttons", onclick=onclick_function, style=style_display, id=my_id)
        div(class="icon")
        div(class="text")=text

mixin next_page(next_function) 
    center
        + navigation_button("Next",next_function)


mixin classic_radio(q_label, radio_name, radio_dict)
    label(class="statement-demographics", id="label_"+radio_name)= q_label
    div(class="control-group")
        each val, index in radio_dict
            label(class="control control-radio")=val
                input(type="radio", name=radio_name, id=radio_name+"_"+index, value=index)
                div(class="control_indicator")

mixin radio_in_table(q_label, radio_name, radio_list_of_dicts)
    label(class="statement-demographics", id="label_"+radio_name)= q_label
    div(class="control-group")
        center
            table
                each radio_dict in radio_list_of_dicts
                    tr
                        each val, index in radio_dict
                            td
                                label(class="control control-radio")=val
                                    input(type="radio", name=radio_name, id=radio_name+"_"+index, value=index)
                                    div(class="control_indicator")


mixin classic_checkbox(q_label, box_name, box_dict)
    label(class="statement-demographics", id="label_"+box_name)= q_label
    div(class="control-group")
        each val, index in box_dict
            label(class="control control-checkbox")=val
                input(type="checkbox", name=box_name, value=index)
                div(class="control_indicator")

mixin scale_table(labels, tr_width="")
    table(class="likert-freq-scale-table", cellpadding="0", cellspacing="0", style="table-layout: fixed;")
        tr(width=tr_width)
            each val in labels
                th(class="tg-wp8o")=val

mixin dropdown_list(select_id, options_list)
    div(class="select")
        select(id=select_id)
            option(value="", selected disabled hidden)="--"
            each val in options_list
                option(value=val)=val
        div(class="select_arrow")

mixin paragraph(title, text)
    div(style="font-weight:bold;")=title
    block
    br
    br

mixin single_dropup_btn_with_dict(div_id, btn_text, btn_dict)
    div(class="dropup")
        div(class="spacing_div")
        button(class="dropbtn" id=div_id+"_"+btn_text)=btn_text
        div(class="dropup-content" id=div_id+"_dropup-content")
            each btn_values_list, btn_id in btn_dict
                each elt in btn_values_list
                    a(href="#" id=btn_id+"_"+elt)=elt


mixin single_dropup_btn_with_list(div_id, btn_text, btn_list)
    div(class="dropup")
        div(class="spacing_div")
        button(class="dropbtn" id=div_id+"_"+btn_text)=btn_text
        div(class="dropup-content" id=div_id+"_dropup-content")
            each elt in btn_list
                a(href="#" id=btn_id+"_"+elt)=elt

mixin likert_chat_guided(div_id, options_dict, style_display, button_width="default")
    div(id=div_id, style=style_display)
        center
            -var not_first_option = false
            each val, index in options_dict
                if not_first_option == true
                    div(class="spacing_div")
                if val == "Unlimited"
                    button(class="likert_button", id=div_id+"_"+index)
                        for elt in val
                            span=elt
                            br
                else if index == "no_ingredient"
                    div(class="dropup")
                        div(class="spacing_div")
                        button(class="likert_button" id=index+"_btn" style="width:180px;")
                            for elt in val
                                span=elt
                                br
                        div(class="dropup-content" id=index+"_dropup-content")
                else if button_width == "narrow" 
                    button(class="likert_button", id=div_id+"_"+index, style="width:70px;")
                        for elt in val
                            span=elt
                            br
                else if button_width == "wide" 
                    button(class="likert_button", id=div_id+"_"+index, style="width:180px;")
                        for elt in val
                            span=elt
                            br
                else
                    button(class="likert_button", id=div_id+"_"+index)
                        for elt in val
                            span=elt
                            br
                -var not_first_option = true


mixin food_dropup_menu(div_id, options_dict, style_display)
    //- div(id=div_id, style=style_display)
    center
        button(class="likert_button", id=div_id+"_none")
                span
                    | None
        div(class="spacing_div")
        -var not_first_option = false
        each foods_list, btn_text in options_dict
            div(class="dropup")
                if not_first_option == true
                    div(class="spacing_div")
                button(class="dropbtn" id=div_id+"_"+btn_text)=btn_text
                div(class="dropup-content")
                    each elt in foods_list
                        a(href="#" id=div_id+"_"+elt)=elt
                -var not_first_option = true
        div(class="spacing_div")
        button(class="likert_button_orange", id=div_id+"_validate_selection")
                span
                    | Validate

mixin usual_dinner_dropup_menu(div_id, options_dict, style_display, validate=false)
    //- div(id=div_id, style=style_display)
    center
        //- button(class="likert_button", id=div_id+"_none")
        //-         span
        //-             | Something light
        //- div(class="spacing_div")
        -var not_first_option = false
        each foods_list, btn_text in options_dict
            if btn_text == "Meat / Eggs"
                br
                br
            div(class="dropup")
                if not_first_option == true
                    div(class="spacing_div")
                button(class="dropbtn" id=div_id+"_"+btn_text)=btn_text
                div(class="dropup-content")
                    each elt in foods_list
                        a(href="#" id=div_id+"_"+elt)=elt
                -var not_first_option = true
        div(class="spacing_div")
        button(class="likert_button_orange", id=div_id+"_validate_selection")
                span
                    | Validate

mixin diet_intolereance_dropup_menu(div_id, options_dict, style_display)
    //- div(id=div_id, style=style_display)
    center
        button(class="likert_button", id=div_id+"_none")
                span
                    | None
        each btn_dict, btn_text in options_dict
            +single_dropup_btn_with_dict(div_id, btn_text, btn_dict)
        div(class="spacing_div")
        button(class="likert_button_orange", id=div_id+"_validate_selection")
                span
                    | Validate